@(username : String , welcomeText: (String,List[String]))
@main(Some(username)) {

<div class="page-header">
    <h1>Battle Room<small>You are battling as @username</small></h1>
</div>

<div id="onError" class="alert-message error">
    <p>
        <strong>Oops!</strong> <span></span>
    </p>
</div>

<div class="row-fluid">
    <div class="span7">
        <canvas id="canvas" width="1050" height="500">
            <p>
                SERIOUSLY INTERNET EXPLORER?!?!?!?!?!?!?!?
                Come on! download a real browser that has the canvas element,
                Like Firefox ,Safari, or Chrome.
                Peace Out Brothaaaaaa

            </p>
        </canvas>
    </div>

    <div id="onChat" class="span5">
        <div id="memberGroup" class="">
            <h2>Members</h2>
            <ul id="members">
                @welcomeText._2.map { user =>
                <li>@user</li>
                }
            </ul>
        </div>

        <div class="" id="messageGroup">
            <div id="messages">
                <div class="message"><span>BattleLord</span><p>@(welcomeText._1)</p></div>
            </div>
        </div>


        <textarea id="talk" ></textarea>

    </div>
</div>
<div id = "popUpBack">

    <div id= "strategy">

        <canvas id="strategyCanvas" width="500" height="500">
            <p>
                SERIOUSLY INTERNET EXPLORER?!?!?!?!?!?!?!?
                Come on! download a real browser that has the canvas element,
                Like Firefox ,Safari, or Chrome.
                Peace Out Brothaaaaaa

            </p>
        </canvas>
        <button id="strategyButton" onclick="getChildrenPos()"> </button>
        <button id="strategyButtonCancel" onclick="toggleAlert('alert')"> </button>

    </div>
</div>

<div class="alert" id="alert">
    <strong>Warning!</strong> Cancelling will set you a default strategy!.
    <button class="btn btn-warning" onclick="defaultStrategy()"> Default </button>
    <button class="btn btn-danger" onclick="toggleAlert('alert')"> Back </button>
</div>

<div class="alert alert-error" id="alert2">
    <strong>Warning!</strong> Invalid boat placement!.
    <button class="btn btn-warning" onclick="toggleAlert('alert2')"> Back </button>
</div>



<script type="text/javascript" charset="utf-8">

    var autoPlay = true;
    var bot;
    var suggested;


    $(function() {
    var WS = window['MozWebSocket'] ? MozWebSocket : WebSocket

    var chatSocket = new WS("ws://localhost:9000@routes.Application.connect(username)");

    new Main().init(chatSocket);

    bot = new BattleshipBot();



    var sendMessage = function() {
    chatSocket.send(JSON.stringify(
    {text: $("#talk").val(),
    cordx: -1,
    cordy: -1,
    boats : new Array()}
    ));
    $("#talk").val('');
    }

    var receiveEvent = function(event) {
    var data = JSON.parse(event.data);
    // Handle errors
    if(data.error) {
    chatSocket.close()
    $("#onError span").text(data.error)
    $("#onError").show()
    }

    // Create the message element
    var el = $('<div class="message"><span></span><p></p></div>');
    if(data.user) {
    $("span", el).text(data.user);
    }else{
    $("span", el).text("BattleLord");
    }
    $("p", el).text(data.message);
    $(el).addClass(data);
    if(data.user == '@username') $(el).addClass('me')
    $('#messages').append(el)
    scrollBottom();

    // Update the members list
    if(data.members){
    $("#members").html('')  ;
    $(data.members).each(function() {
    $("#members").append('<li>' + this + '</li>')
    })
    }

    if(data.shotResult){

        var shotResult = data.shotResult;
        var posx = data.shotpos.posx;
        var posy = data.shotpos.posy;

        if (data.gettingShot='false') {


            // todo feed the bot
            // bot.update(posx,posy,shotResult ) ;


            //todo suggested should not be here
            suggested = bot.suggest();

        }

            g_ApplicationManager.level.paintShot(shotResult,posx,posy,data.gettingShot);

    }


    if(data.finishedGame){
    g_ApplicationManager.openEnd(data.finishedGame);

    }


    };


    var handleReturnKey = function(e) {
    if(e.charCode == 13 || e.keyCode == 13) {
    e.preventDefault();
    sendMessage();
    }
    }    ;

    $("#talk").keypress(handleReturnKey)

    chatSocket.onmessage = receiveEvent;

    });

    function scrollBottom()
    {

    var div = document.getElementById('messages');
    h = div.scrollHeight;
    div.scrollTop = h;
    }

    function toggleAlert(alertDiv)
    {

        var div = document.getElementById(alertDiv);
        if (div.style.display=='block') div.style.display="none";
        else div.style.display='block';
    }

</script>
<script src="@routes.Assets.at("javascripts/battleship-bot.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/data.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/GameObject.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/ResourceManager.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/GameObjectManager.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/ApplicationManager.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/Level.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/VisualGameObject.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/MainMenu.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/AnimatedGameObject.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/Main.js")" type="text/javascript"></script>
<!--<script src="@routes.Assets.at("javascripts/prototype-1.6.0.3.js")" type="text/javascript"></script>-->
<script src="@routes.Assets.at("javascripts/Utils.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/EndScreen.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/easeljs-0.4.2.min.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/StrategyManager.js")" type="text/javascript"></script>




}
