@()(implicit flash: Flash)

@main(None) {

@flash.get("error").map { errorMessage =>

<div class="alert-message error">
    <p>
        <strong>Oops!</strong> @errorMessage
    </p>
</div>

}

<div class="alert-message block-message info">
</div>


<div id="logIn">
    <h1>Los Tres Patitos !</h1>
    <form class ="" action="@routes.Application.battleRoom()" >
        <input id="username" name="username" class="input-xlarge" type="text" placeholder="Username">
        <button class="btn" type="submit">Sign in</button>
    </form>

</div>

<style type="text/css">

    body{

    background-image: url("@routes.Assets.at("images/sexyback3.jpg")");
    background-size: 100%;
    }



</style>

}